@if (agent) {
<div class="px-4">
  <div class="collapse bg-base-200 mx-auto mt-2">
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
      Set Model Params
    </div>
    <div class="collapse-content">
      <div class="grid grid-cols-2">
        <div class="grid grid-cols-3 w-2/5 gap-4 px-4">
          <label for="Temperature">Temperature</label>
          <input type="range" [(ngModel)]="temperatureValue" min="0" max="2" step="0.01">
          <p>{{temperatureValue}}</p>
          <label for="TopP">Top P</label>
          <input type="range" [(ngModel)]="topPValue" min="0" max="1" step="0.01">
          <p>{{topPValue}}</p>
        </div>

        <div>
          <p class="font-medium">Enabled Tools</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chat-window h-full shadow-md p-4 rounded-md">
  <div class="chat-header flex justify-between items-center">
    <div class="chat-title font-bold text-lg">Chat Room</div>
    <div>
      <button class="btn btn-ghost btn-sm" (click)="clearChat()">Clear chat</button>
      <button class="btn btn-danger btn-sm" (click)="deleteAgent()">Delete agent</button>
    </div>
  </div>
  <div class="chat-messages">
    @for (message of messages; track message) { @if( message.type === "AI")
    {
    <div class="chat chat-start flex my-2">
      <div class="chat-image avatar mr-2">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS chat bubble component" src="https://api.dicebear.com/7.x/micah/svg?seed=Felix{{
                            agent.name
                        }}" />
        </div>
      </div>
      <div class="chat-bubble bg-base-200">
        {{ message.text }}
      </div>
    </div>
    } @else if (message.type === 'USER') {
    <div class="chat chat-end flex my-2 justify-end">
      <div class="chat-bubble bg-base-200 mr-2">
        {{ message.text }}
      </div>
      <div class="chat-image avatar">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS chat bubble component" src="https://api.dicebear.com/7.x/micah/svg?seed=Felix" />
        </div>
      </div>
    </div>
    } @else if (message.type === 'LOADING'){
    <div class="chat chat-start flex my-2">
      <div class="chat-image avatar mr-2">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS chat bubble component" src="https://api.dicebear.com/7.x/micah/svg?seed=Felix{{
                              agent.name
                          }}" />
        </div>
      </div>
      <div class="chat-bubble bg-base-200">
        Loading...
      </div>
    </div>
    }
    }
  </div>
  <div class="fileSubmit mt-4">
    <input type="file" id="file" (change)="onFileChange($event)" multiple accept=".pdf">
    <button class="btn btn-primary btn-sm" (click)="submitFile()" [disabled]="!files.length">Send</button>
  </div>

  <div class="chat-input">
    <input type="text" [(ngModel)]='chatInputMessage' class="input" placeholder="Type your message here..." />
    <button class="btn" (click)="sendMessage()">Send</button>
  </div>
</div>
}