<a routerLink="/dashboard" routerLinkActive="true">
    <button class="btn btn-primary btn-sm m-5">Go Back</button></a
>
@if (isNewAgentMode()) {
<div class="p-5">
    <div class="w-100 flex justify-center mt-10">
        <div class="card w-96 shadow-xl bg-base-200">
            <div class="card-body flex">
                <label class="my-2"> Name of your Agent </label>
                <input
                    type="text"
                    placeholder="Ex. Superhuman"
                    class="input input-bordered w-full max-w-xs mb-2"
                />
                <label>Select Model</label>
                <select class="select select-bordered w-full max-w-xs mb-2">
                    <option disabled selected>Model</option>
                    <option>GPT-4</option>
                    <option>Claude</option>
                </select>
                <label>System Message (not required)</label>
                <textarea
                    class="textarea textarea-bordered textarea-md w-full max-w-xs"
                ></textarea>
            </div>
        </div>
    </div>
</div>
} @else {
<div class="p-5">
    <div role="tablist" class="tabs tabs-bordered my-10">
        <a role="tab" class="tab font-bold" (click)="changeTab('chat')" [class.tab-active]="activeTab() === 'chat'">Chat</a>
        <a role="tab" class="tab font-bold" (click)="changeTab('params')" [class.tab-active]="activeTab() === 'params'">Model Parameters</a>
        <a role="tab" class="tab font-bold" (click)="changeTab('rag')" [class.tab-active]="activeTab() === 'rag'">RAG Filesystem Access</a>
        <a role="tab" class="tab font-bold" (click)="changeTab('tools')" [class.tab-active]="activeTab() === 'tools'">Enabled Tools</a>
    </div>
    <div class="card bg-neutral">
        @switch (activeTab()) {
            @case ("chat") {
                <app-chat-window class="h-full" [agent]="agent"></app-chat-window>
            } @case ("tools") {
                <app-tools></app-tools>
            }
        }
    </div>
</div>
}
