@if (agent) {
<div class="collapse collapse-arrow bg-base-200">
  <input type="radio" name="my-accordion-2" checked="checked" />
  <div class="collapse-title text-xl font-medium flex items-center justify-between">
    <div class="flex items-center">
      <div class="w-10 mx-5">
        <img class="rounded-full" alt="Tailwind CSS Navbar component" src="https://api.dicebear.com/7.x/micah/svg?seed=Felix{{
            agent.name
          }}" />
      </div>
      {{ agent.name }}
    </div>
    <div class="z-50">
      <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
        <li><a routerLink="/agents/{{agent.name}}" routerLinkActive="true"><button>See more</button></a></li>
      </ul>
    </div>
  </div>
  <div class="collapse-content">
    <p class="my-2 font-bold">Created: {{ agent.created | date }}</p>
    @if (agent.system_message) {
    <div class="mockup-code bg-base-300">
      <pre data-prefix="" class="bg-cyan-600 text-warning-content"><code>Agent System Message</code></pre>
      <pre data-prefix="1"><code>{{agent.system_message}}</code></pre>
    </div>
    }
  </div>
</div>
}