@if (agent) {
<div class="chat-window h-full shadow-md p-4 rounded-md">
  <div class="chat-header flex justify-between items-center">
    <div class="chat-title font-bold text-lg">Chat Room</div>
    <!-- TODO - clear chat functionality -->
    <button class="btn btn-ghost btn-sm">Clear chat</button>
  </div>
  <div class="chat-messages">
    @for (message of messages; track message) { @if( message.type === "AI")
    {
    <div class="chat chat-start flex my-2">
      <div class="chat-image avatar mr-2">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS chat bubble component" src="https://api.dicebear.com/7.x/micah/svg?seed=Felix{{
                            agent.name
                        }}" />
        </div>
      </div>
      <div class="chat-bubble bg-base-200">
        {{ message.text }}
      </div>
    </div>
    } @else {
    <div class="chat chat-end flex my-2 justify-end">
      <div class="chat-bubble bg-base-200 mr-2">
        {{ message.text }}
      </div>
      <div class="chat-image avatar">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS chat bubble component" src="https://api.dicebear.com/7.x/micah/svg?seed=Felix{{
                            session()?.user?.email
                        }}" />
        </div>
      </div>
    </div>
    } }
  </div>
  <div class="chat-input">
    <input type="text" class="input" placeholder="Type your message here..." />
    <button class="btn">Send</button>
  </div>
</div>
}
