<div>
    @if (apiKeys$ | async; as apiKeys) {
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
                <tr>
                    <th>Provider</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (key of apiKeys; track key.id) {
                <tr>
                    <td>{{ key.provider }}</td>
                    <td>{{ key.alias }}</td>
                    <td>
                        <button class="btn btn-error btn-sm" (click)="deleteRow()">Delete</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
</div>