<ng-container>
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
                <tr>
                    <th>Provider</th>
                    <th>API Key</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of apiData; let i = index">
                    <td>{{ data.provider }}</td>
                    <td>{{ data.apiKey }}</td>
                    <td>
                        <button class="btn btn-error btn-sm" (click)="deleteRow(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>