<div class="relative isolate overflow-hidden bg-gray-900 overflow-hidden">
    <div class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]"
        aria-hidden="true">
        <div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20"
            style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)">
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:pt-40">
        <div class="mx-auto max-w-2xl shrink-0 lg:mx-0 lg:pt-8">
            <h1 class="mt-10 text-pretty text-xl font-semibold tracking-tight text-white sm:text-7xl">Create and manage
                AI Agents</h1>
            <p class="mt-8 text-pretty text-lg font-medium text-gray-400 sm:text-xl/8">LLMHub is place to interact with
                your custom-created AI agents. Don't hesitate, log in!.</p>
        </div>
        <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
            <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
                <img src="assets/dash.png" alt="App screenshot" width="2432" height="1442"
                    class="w-[76rem] rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10">
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-900 pb-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base/7 font-semibold text-indigo-400">Deploy faster</h2>
            <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-white sm:text-5xl lg:text-balance">
                Everything you need to interact with LLMs</p>
            <p class="mt-6 text-lg/8 text-gray-300"></p>
            <p class="mt-6 text-lg/8 text-gray-300">Easily interact with your custom-created AI agents, train and
                fine-tune models, and deploy them in a production-ready environment.</p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-white">
                        Easy agent creation
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-300">
                        <p class="flex-auto">Create custom ai agents, set their properties and system messages</p>
                        <p class="mt-6">
                            <a href="#" class="text-sm/6 font-semibold text-indigo-400">Learn more <span
                                    aria-hidden="true">→</span></a>
                        </p>
                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-white">
                        RAG
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-300">
                        <p class="flex-auto">Allow agent to speak about data within your documents</p>
                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-white">
                        Open Source
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-300">
                        <p class="flex-auto">Free & Open Source (as long as you bring your own key)</p>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>