<app-dashboard-layout>
  <div class="flex-col w-4/5">
    <div role="tablist" class="tabs tabs-bordered my-10">
      <a role="tab" (click)="changeTab('agents')" class="tab font-bold" [class.tab-active]="activeTab() === 'agents'">Manage Agents</a>
      <a role="tab" (click)="changeTab('files')" class="tab font-bold" [class.tab-active]="activeTab() === 'files'">RAG Files</a>
      <a role="tab" (click)="changeTab('files')" class="tab font-bold" [class.tab-active]="activeTab() === 'files'">API Keys</a>
    </div>
    @if (activeTab() === 'agents') {
      <app-agents-view class="card  my-10 bg-neutral text-neutral-content"></app-agents-view>
    } @else {
      <app-files-view class="card  my-10 bg-neutral text-neutral-content"></app-files-view>
    }
  </div>
</app-dashboard-layout>